{% extends "base.html" %}

{% block body_block %}
<form role="form"  method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}

<h2 class="form-signin-heading">Sign Up Here</h2>

<div class="form-group" >
 <p class="required"> <label for="id_username">Username:</label>
     <input class="form-control"  id="id_username" maxlength="30" name="username" type="text"  placeholder="Enter username"/></p>
</div>
<div class="form-group" >
 <p class="required"> <label for="id_display_name">Display name:</label>
     <input class="form-control"  id="id_display_name" maxlength="30" name="display_name" type="text"  placeholder="Enter display name"/></p>
</div>
<div class="form-group">
    <p class="required"><label for="id_email">E-mail:</label>
        <input class="form-control" id="id_email" maxlength="75" name="email" type="email" placeholder="Enter email" /></p>
</div>
<div class="form-group" >
 <p class="required"> <label for="id_organization">Organization:</label>
     <input class="form-control"  id="id_organization" maxlength="512" name="organization" type="text"  placeholder="Enter organization"/></p>
</div>
<div class="form-group" >
 <p class="required"> <label for="id_website">Website:</label>
     <input class="form-control"  id="id_website" maxlength="512" name="website" type="text"  placeholder="Enter website"/></p>
</div>
<div class="form-group" >
 <p> <label for="id_profile_picture">Profile picture:</label>
     <input class="form-control"  id="id_profile_picture" name="profile_picture" type="file" /></p>
</div>
<div class="form-group">
    <p class="required"><label for="id_password1">Password:</label>
        <input class="form-control" id="id_password1" name="password1" type="password" placeholder="Enter password" /></p>
</div>
<div class="form-group">
    <p class="required"><label for="id_password2">Password (again):</label>
 <input class="form-control" id="id_password2" name="password2" type="password" placeholder="Enter password again" /></p>
</div>

{{ researcher_form.as_p }}

<button type="submit" class="btn btn-default">Submit</button>

</form>
{% endblock %}