{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Edit profile{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}

    <form enctype="multipart/form-data" role="form" id="user_form" method="post" action="/trecapp/editprofile/" >
        {% csrf_token %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Edit profile: {{ username }}</h3>
            </div>
        </div>

        <div class="form-group" >
            <p class="required">
                <label for="id_display_name">Display name:</label>
                <input class="form-control"  id="id_display_name" maxlength="30" name="display_name" type="text"  value="{{ display_name }}"/>
            </p>
            <p class="required">
                <label for="id_email">E-mail:</label>
                <input class="form-control" id="id_email" maxlength="75" name="email" type="email" value="{{ email }}" />
            </p>
            <p class="required">
                <label for="id_organization">Organization:</label>
                <input class="form-control"  id="id_organization" maxlength="512" name="organization" type="text"  value="{{ organization }}"/>
            </p>
            <p class="required">
                <label for="id_website">Website:</label>
                <input class="form-control"  id="id_website" maxlength="512" name="website" type="text"  value="{{ website }}"/>
            </p>
            <p>
                <label for="id_profile_picture">Profile picture:</label>
                <input class="form-control"  id="id_profile_picture" name="profile_picture" type="file" />
            </p>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>
    {% else %}
        <p>Please login to edit your profile!</p>
    {% endif %}

{% endblock %}