{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
		<div class="panel panel-primary">
    		<div class="panel-heading">
            	<h3 class="panel-title">Tracks</h3>
    		</div>
		</div>
		{% if tracks %}
			<div class="row placeholders">
            	<div class="col-xs-12 col-sm-6 placeholder">
					<ul class="list-group">
						{% for track in tracks %}
						<li class="list-group-item"><a href="/trecapp/track/{{ track.slug }}">{{ track.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% else %}
			<strong>There are no tracks present. Run the population script</strong>
		{% endif %}
		
{% endblock %}