{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
		<img src="{% static "images/trec_logo.png" %}" alt="Trec Logo" />
		<h1>Under Construction</h1>
		In the meantime, please use google<br />
		
		<h1>Tracks</h1>
		{% if tracks %}
			<ul>
				{% for track in tracks %}
				<li><a href="/trecapp/track/{{ track.slug }}">{{ track.title }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no tracks present. Run the population script you twit</strong>
		{% endif %}
		
{% endblock %}