{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Leaderboard{% endblock %}

{% block body_block %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Leaderboard</h3>
        </div>
    </div>

    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">
            <table class="table table-bordered">
                <thead>
                    <td>Researcher's name</td>
                    <td>Run's name</td>
                    <td>Map score</td>
                    <td>p10</td>
                    <td>p20</td>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>
                            {% if row.researcher_name %}
                                {{ row.researcher_name }}
                            {% else %}
                                {{ row.run.researcher.display_name }}
                            {% endif %}
                        <td>{{ row.run.name }}</td>
                        <td>{{ row.map }}</td>
                        <td>{{ row.p10 }}</td>
                        <td>{{ row.p20 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}