{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ username }}{% endblock %}

{% block body_block %}
	
	{% if user.is_authenticated %}
		<div class="panel panel-primary">
    		<div class="panel-heading">
            	<h3 class="panel-title">{{ username }}</h3>
    		</div>
		</div>
		<img src="/media/{{ profile_picture }}" />
		<p>{{ email }}</p>
		<p>{{ website }}</p>
		<p>{{ display_name }}</p>
		<p>{{ organization }}</p>
		<a class="btn btn-default" href="{% url 'editprofile' %}">Edit profile</a>
		<a class="btn btn-default" href="{% url 'auth_password_change' %}">Change password</a>
	{% else %}
		<p>Please login to see your profile!</p>
	{% endif %}
	<!-- show the leaderboard regardless of authentication status-->
{% endblock %}