{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ username }}{% endblock %}

{% block body_block %}
	
	{% if user.is_authenticated %}
		<div class="panel panel-primary">
    		<div class="panel-heading">
            	<h3 class="panel-title">{{ username }}</h3>
    		</div>
		</div>
		<img src="/media/{{ profile_picture }}" />
		<p>{{ website }}<br/>{{ display_name }}<br/>{{ organization }}</p>
	{% else %}
		<p>Please login to upload a run</p>
	{% endif %}
	<!-- show the leaderboard regardless of authentication status-->
{% endblock %}