{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block body_block %}
	{% if registered %}
		<p>Thank you for registering!</p>
	{% else %}

	<form enctype="multipart/form-data" role="form" id="user_form" method="post" action="/trecapp/register/" >
        {% csrf_token %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Register with TREC Evaluator</h3>
            </div>
        </div>

        <div class="form-group">
            <p class="required">
                <label for="id_username">Username:</label>
                <input class="form-control"  id="id_username" maxlength="30" name="username" type="text"  placeholder="Enter username"/>
            </p>
            <p class="required">
                <label for="id_password">Password:</label>
                <input class="form-control" id="id_password" name="password" type="password" placeholder="Enter password" />
            </p>
            <p class="required">
                <label for="id_display_name">Display name:</label>
                <input class="form-control"  id="id_display_name" maxlength="30" name="display_name" type="text"  placeholder="Enter display name"/>
            </p>
            <p class="required">
                <label for="id_email">E-mail:</label>
                <input class="form-control" id="id_email" maxlength="75" name="email" type="email" placeholder="Enter email" />
            </p>
            <p class="required">
                <label for="id_organization">Organization:</label>
                <input class="form-control"  id="id_organization" maxlength="512" name="organization" type="text"  placeholder="Enter organization"/>
            </p>
            <p class="required">
                <label for="id_website">Website:</label>
                <input class="form-control"  id="id_website" maxlength="512" name="website" type="text"  placeholder="Enter website"/>
            </p>
            <p>
                <label for="id_profile_picture">Profile picture:</label>
                <input class="form-control"  id="id_profile_picture" name="profile_picture" type="file" />
            </p>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

    </form>

	{% endif %}
{% endblock %}