{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ task_title }}{% endblock %}

{% block body_block %}
	<div class="panel panel-primary">
    	<div class="panel-heading">
            <h3 class="panel-title">Task: {{ task_title }}</h3>
    	</div>
	</div>
	{% if user.is_authenticated %}
		<form role="form" id="upload_run_form" enctype="multipart/form-data" method="post" action="/trecapp/track/{{ track.slug }}/{{ task.slug }}">
		
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br />
				{{ field }}<br />
			{% endfor %}
		
			<button class="btn btn-primary" type="submit" name="submit">Upload Run</button>
		</form>
	{% else %}
		<p>Please login to upload a run</p>
	{% endif %}
{% endblock %}