{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ task_title }}{% endblock %}

{% block body_block %}
	<div class="panel panel-primary">
    	<div class="panel-heading">
            <h3 class="panel-title">Task: {{ task_title }}</h3>
    	</div>
	</div>
	{% if user.is_authenticated %}
		<form role="form" id="upload_run_form" enctype="multipart/form-data" method="post" action="/trecapp/track/{{ track.slug }}/{{ task.slug }}">
		
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br />
				{{ field }}<br />
			{% endfor %}
		
			<button class="btn btn-primary" type="submit" name="submit">Upload Run</button>
		</form>
	{% else %}
		<p>Please login to upload a run</p>
	{% endif %}


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Leaderboard</h3>
        </div>
    </div>

    {% if data %}
        <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
                <table class="table table-bordered">
                    <thead>
                        <td>Researcher's name</td>
                        <td>Run's name</td>
                        <td>Map score</td>
                        <td>p10</td>
                        <td>p20</td>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{ row.researcher.display_name }}</td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.map }}</td>
                            <td>{{ row.p10 }}</td>
                            <td>{{ row.p20 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        No runs have been submitted for this Task
    {% endif %}
{% endblock %}