{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ task_title }}{% endblock %}

{% block body_block %}
	<div class="page-header">
		<h1>{{ task.title }}</h1>
	</div>
	<!-- if the user is registered, show a place to upload a .res file here -->
		<form role="form" id="upload_run_form" enctype="multipart/form-data" method="post" action="/trecapp/track/{{ track.slug }}/{{ task.slug }}">
		
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br />
				{{ field }}<br />
			{% endfor %}
		
			<button class="btn btn-primary" type="submit" name="submit">Upload Run</button>
		</form>
	<!-- show the leaderboard regardless of authentication status-->
{% endblock %}