{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ track_title }}{% endblock %}

{% block body_block %}

		{% if track %}
		<div class="panel panel-primary">
    		<div class="panel-heading">
            	<h3 class="panel-title">{{ track_title }}</h3>
    		</div>
		</div>
			{% if tasks %}
			<ul class="list-group">
				{% for task in tasks %}
				<!-- Change this to a link to each individual task page -->
				<li class="list-group-item"><a href="/trecapp/track/{{ track.slug }}/{{ task.slug }}">{{ task.title }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>No tasks currently in track.</strong>
			{% endif %}
			
			<!-- This section will allow a logged in user to upload a results file for later comparison -->
			<!-- Uncomment when authentication has been added
			{% if user.is_authenticated %}
			{% endif %} -->
				
		{% else %}
			The specified track {{ track_title }} does not exist!
		{% endif %}
{% endblock %}