{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ track_title }}{% endblock %}

{% block body_block %}

	{% if track %}
		<div class="panel panel-primary">
    		<div class="panel-heading">
            	<h3 class="panel-title">Track: {{ track_title }}</h3>
    		</div>
		</div>
			{% if tasks %}
				<div class="row">
					<div class="col-md-6">
						<ul class="list-group">
							{% for task in tasks %}
							<li class="list-group-item"><a href="/trecapp/track/{{ track.slug }}/{{ task.slug }}">{{ task.title }}</a></li>
						{% endfor %}
						</ul>
					</div>
				</div>
			{% else %}
				<p>No tasks currently in track.</p>
			{% endif %}			
	{% else %}
		<p>The specified track {{ track_title }} does not exist!</p>
	{% endif %}
{% endblock %}